* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Times New Roman', Times, serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0a0a0a;
  color: #fff;
}
header {
  width: 100%;
  padding: 20px 100px;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 90px;
  font-weight: bold;
  color: #fff;
}
.logo span {
  color: #00adb5;
}
.nav-links {
  list-style: none;
  display: flex;
}
.nav-links li {
  margin: 0 15px;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 37px;
  transition: 0.3s;
}
.nav-links a.active {
  color: #00adb5;
  border-bottom: 2px solid #00adb5;
}
.nav-links a:hover {
  color: #00adb5;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  color: #fff;
  padding: 60px 10%;
}
.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}
.img-box {
  flex: 1 1 350px;
  display: flex;
  justify-content: center;
}
.img-box img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #00adb5;
  box-shadow: 0 0 20px rgba(0, 173, 181, 0.4);
  transition: transform 0.4s ease;
  margin-right: 1%;
  margin-top: 25%;
}
.img-box img:hover {
  transform: scale(1.05);
}
.home-content {
  flex: 1 1 450px;
  margin-top: 10%; 
  margin-right: 7%;
}
.home-content h1 {
  font-size: 90px;
  margin: 10px 0;
}
.highlight {
  color: #00adb5;
}
.home-content p {
  margin: 20px 0;
  font-size: 32px;
  line-height: 1.6;
  color: #d1d5db;
}
.icon-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 25px;
}
.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #00adb5;
  color: #00adb5;
  font-size: xx-large;
  text-decoration: none;
  transition: all 0.3s ease;
  background: transparent;
}
.icon-btn:hover {
  background: #00adb5;
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 173, 181, 0.6);
  transform: scale(1.1);
}
.icon-btn[title]:hover::after {
  content: attr(title);
  position: absolute;
  background: #00adb5;
  color: #fff;
  font-size: 20px;
  padding: 4px 10px;
  border-radius: 5px;
  top: 80%;
  transform: translateY(8px);
  white-space: nowrap;
  opacity: 0.7;
}
@media (max-width: 900px) {
  .home-container {
    flex-direction: column;
    text-align: center;
  }
 .img-box img {
    width: 260px;
    height: 260px;
  }
  .icon-buttons {
    justify-content: center;
  }
}

.img-box {
  opacity: 0;
  transform: translateX(-100px);
  animation: imgSlide 1.2s ease-out forwards;
}

.home-content {
  opacity: 0;
  transform: translateX(100px);
  animation: textSlide 1.2s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes imgSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes textSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.about {
  padding: 90px 80px;
  text-align: center;
}
.about h2 {
  color: #00adb5;
  font-size: 70px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.about p {
  display: inline-block;
  border: 1px solid #00adb5;
  border-radius: 10px;
  padding: 50px 60px;
  max-width: 1500px;
  background: transparent;
  color: #f5f2f2;
  font-size: 34px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.about p:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 173, 181, 0.6);
}
h2 {
  color: #00adb5;
  font-size: 70px;  
  margin-bottom: 20px;
}
p {
  font-size: 36px; 
  line-height: 1.0;
  color: #f5f2f2;
}
.skill-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;   
  margin: 0 auto;
  margin-top: 10px;
}
.skills h2 {
  font-size: 70px;  
  text-align: center;
  color: #00adb5;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.skill-card {
  background: #1f1f1f;
  padding: 30px 40px;
  font-size: 42px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #00adb5;
  transition: 0.3s;
  color: white;
}
.skill-card:hover {
  background: #1f1f1f; 
  color: #00adb5; 
  transform: translateY(-3px);
  box-shadow: 0 0 15px #00adb5; 
  animation: blink 1s ease-in-out infinite alternate;
}
.skill-card i {
  margin-right: 10px;
  color: #00adb5;
}
@keyframes blink {
  from {
    box-shadow: 0 0 10px #00adb5;
  }
  to {
    box-shadow: 0 0 25px #00adb5;
  }
}
.education {
  padding: 80px 0px;
  text-align: center;
}
.education h2 {
  font-size: 70px;
  color: #00adb5;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.edu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.edu-card {
  border: 1px solid #00adb5;
  border-radius: 10px;
  padding: 30px;
  width: 950px;
  height: 20vh;
  text-align: center;
  background-color: transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.edu-card:hover {
  transform: translateY(-5px);
  animation: softGlow 2s infinite ease-in-out;
}
.edu-card h3 {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 12px;
}
.edu-card p {
  color: #f7f4f4;
  font-size: 35px;
  margin-bottom: 8px;
}
@keyframes softGlow {
  0% {
    box-shadow: 0 0 4px #00adb5, 0 0 6px #00adb5;
  }
  50% {
    box-shadow: 0 0 10px #00adb5, 0 0 18px #00adb5;
  }
  100% {
    box-shadow: 0 0 4px #00adb5, 0 0 6px #00adb5;
  }
}
.projects h2{
  text-align: center;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.project-card {
  border: 1px solid #00adb5;
  border-radius: 10px;
  padding: 25px;
  width: 650px;
  text-align: center;
  background-color: transparent;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 420px; 
}
.project-card:hover {
  transform: translateY(-5px);
}
.icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #00adb5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin: 0 auto 15px auto;
  color: #00adb5;
}
.project-card h1 {
  font-size: 35px;
  margin-bottom: 12px;
  color: #fdfcfc;
}
.project-card p {
  font-size: 27px;
  color: #ffffff;
  margin-bottom: 25px;
  line-height: 1.5;
  flex-grow: 1; 
}
.project-card .btn {
  border: 1px solid #00adb5;
  color: #00adb5;
  background: transparent;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  align-self: center; 
}
.project-card .btn:hover {
  background: #00adb5;
  color: #fff;
  transform: scale(1.05);
}
.internship h2{
  text-align: center;
  margin-top: 40px;
}
.internship-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.internship-card {
  border: 1px solid #00adb5;
  border-radius: 10px;
  padding: 28px;
  width: 1500px;
  text-align: center;
  background-color: transparent;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
}
.internship-card:hover {
  transform: translateY(-5px);
}
.icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #00adb5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin: 0 auto 15px auto;
  color: #00adb5;
}
.internship-card h1 {
  font-size: 40px;
  margin-bottom: 12px;
  color: #fdfcfc;
}
.internship-card p {
  font-size: 32px;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 10px;
}
.internship-card .btn {
  border: 1px solid #00adb5;
  color: #00adb5;
  background: transparent;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  align-self: center;
}
.internship-card .btn:hover {
  background: #00adb5;
  color: #fff;
  transform: scale(1.05);
}
@keyframes softGlow {
  0% {
    box-shadow: 0 0 4px #00adb5, 0 0 6px #00adb5;
  }
  50% {
    box-shadow: 0 0 10px #00adb5, 0 0 18px #00adb5;
  }
  100% {
    box-shadow: 0 0 4px #00adb5, 0 0 6px #00adb5;
  }
}
.project-card,
.internship-card {
  border: 1px solid #00adb5;
  border-radius: 10px;
  background-color: transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover,
.internship-card:hover {
  transform: translateY(-5px);
  animation: softGlow 2s infinite ease-in-out;
}
.contact {
  background: transparent;
  padding: 100px 0;
  text-align: center;
  color: white;
  transition: all 0.5s ease-in-out;
}
.contact.active {
  box-shadow: 0 0 40px rgba(0, 173, 181, 0.5);
  transform: scale(1.02);
}
.contact h2 {
  font-size: 70px;
  margin-bottom: 30px;
  color: #00adb5;
}
.contact input,
.contact textarea {
  width: 85%;
  max-width: 1000px;
  padding: 15px 20px;
  margin: 15px 0;
  border: 2px solid #00adb5;
  border-radius: 10px;
  background: transparent;
  color: white;
  font-size: 30px;
  outline: none;
  transition: 0.4s ease;
}
.contact input:focus,
.contact textarea:focus {
  animation: blinkBorder 1s infinite alternate;
}
@keyframes blinkBorder {
  0% {
    box-shadow: 0 0 4px #00adb5, 0 0 6px #00adb5;
  }
  100% {
    box-shadow: 0 0 4px #00adb5, 0 0 6px #00adb5;
  }
}
.contact button {
  background: transparent;
  border: 2px solid #00adb5;
  color: #00adb5;
  padding: 20px 25px;
  font-size: 35px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}
.contact button:hover {
  background: #00adb5;
  color: black;
  box-shadow: 0 0 10px #00adb5, 0 0 5px #00adb5;
}
footer {
  color: #eeeeee;
  text-align: center;
  padding: 25px 0;
  font-size: 20px;
  position: relative;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
footer:hover {
  color: #00adb5;
  text-shadow: 0 0 15px #00adb5;
}